@keyframes pulse-element {
    0% {
      transform: scale(.8);
    }
    50% {
      transform: scale(1);
    }
    100% {
      transform: scale(.8);
    }
  }

  @keyframes pulse-element-selection {
    0% {
      transform: scale(.33);
    }
    80%, 100% {
      opacity: 0.75;
    }
    100%{
        
    }
  }

  @keyframes pulse {
    0% {
        transform: scale(1.05) translateZ(-1em);
      }
      50% {
        transform: scale(1) translateZ(-1em);
        
      }
      100% {
        transform: scale(1.05) translateZ(-1em);
       
      }
  }

  @keyframes pulse-centered {
    0% {
        transform: scale(1.05) translateX(-50%) translateY(-50%) translateZ(-1em);
        
        
      }
      50% {
        transform: scale(1) translateX(-50%) translateY(-50%) translateZ(-1em);
       
      }
      100% {
        transform: scale(1.05) translateX(-50%) translateY(-50%) translateZ(-1em);
        
      }
  }
  @keyframes pulse-centered-filter {
    0% {
        transform: scale(1.05) translateX(-50%) translateY(-48%) translateZ(-1em);             
      }
      50% {
        transform: scale(1) translateX(-50%) translateY(-48%) translateZ(-1em);        
      }
      100% {
        transform: scale(1.05) translateX(-50%) translateY(-48%) translateZ(-1em);        
      }
  }